// PROJECT FONTS
// __________________________________________________________


// Import fonts url here (execpt font face, do it in font.scss)
// __________________________________________________________

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap');




// Typographic rules here
// __________________________________________________________

html { 
    font-size: 62.5%;
} 

body { 
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-size: 1.6rem; 
}

h1 { 
    font-size: 40px;
    font-size: 4rem;
}
