// PROJECT LAYOUT STYLES
// __________________________________________________________


.align-flex-center-center{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}