// PROJECT FONTS
// __________________________________________________________

// TODO ==> Delete margin on headings (h1, h2, etc.)



// import font here
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap');



html { 
    font-size: 62.5%;
} 

body { 
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-size: 1.6rem; 
}

h1 { 
    font-size: 40px;
    font-size: 4rem;
}
